name: Maven Build and Test (Linux)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test-linux:
    name: Build and test (Linux)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out project
        uses: actions/checkout@v6

      - name: Build and test
        uses: ./.github/actions/build-and-test
        with:
          upload-dependencies: 'true'
