name: Maven Build and Test (Windows)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build and test (Windows)
    runs-on: windows-latest
    permissions:
      # Need write permission since that's required for upload dependencies step, even though that step won't run.
      contents: write
    steps:
      - name: Check out project
        uses: actions/checkout@v6

      - name: Build and test
        uses: ./.github/actions/build-and-test
